<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A simple HTTP server</title>
</head>
<body>
    <h1>EMPLOYEE MANAGEMENT</h1>
    <h3>HTTP Simple Server</h3>

    <div th:if="${employeeList != null and !employeeList.empty}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Job</th>
            </tr>
            <tr th:each="employee : ${employeeList}">
                <td> <span th:text="${employee.id}"></span> </td>
                <td> <span th:text="${employee.name}"></span> </td>
                <td> <span th:text="${employee.surname}"></span> </td>
                <td> <span th:text="${employee.job}"></span> </td>
            </tr>
        </table>
    </div>
    <div th:if="${employeeList == null or employeeList.empty}">
        <p>Array empty</p>
    </div>
</body>
</html>
